## Lógica de programação II - Programação Funcional I

Na aula de hoje iremos explorar os seguintes tópicos em Python:

- Funções geradoras
- Funções anônimas (lambda)
- Filter
- Map
- Reduce

### Funções geradoras

As funções geradoras são uma maneira concisa de criar iteradores em Python, tornando o código mais eficiente e legível.

Embora semelhantes às funções convencionais, as funções geradoras usam a palavra-chave "yield" em vez de "return". Essa diferença fundamental permite que a função retorne um iterador, e podemos utilizar a função **next()** para obter o próximo resultado. Quando chamamos **next()**, a função geradora é executada até encontrar o próximo **yield**. Nesse momento, o valor associado ao **yield** é retornado, e a execução da função é temporariamente pausada.

Essa pausa é o que torna as funções geradoras tão poderosas, pois elas podem produzir valores sob demanda, economizando recursos ao não calcular todos os valores de uma vez. Esse comportamento "lazy" (preguiçoso) permite trabalhar com conjuntos de dados extensos sem sobrecarregar a memória.

Em resumo, as funções geradoras são uma ferramenta valiosa para manipular iteráveis grandes e criar abstrações de maneira mais eficiente, garantindo que apenas os resultados necessários sejam processados a cada iteração.

In [ ]:
def funcao_geradora():
  print('Primeiro passo')
  yield 1
  print('Segundo passo')
  yield 2
  print('Terceiro passo')
  yield 3
  print('fim')

In [ ]:
gerador = funcao_geradora()

In [ ]:
print(gerador)

In [ ]:
#Usando o next
next(gerador)

In [ ]:
#Usando novamente o next
next(gerador)

In [ ]:
#Usando NOVAMENTE o next
next(gerador)

In [ ]:
#Usando NOVAMENTE(!!!!) o next
next(gerador)

**Quanto não houver mais `yield` ocorre uma excessão `StopIteraction`**

Porém perceba que a palavra `fim` foi impressa, ou seja a função é executada, porém sem retorno.

**Geradores** apresentam um padrão preguiçoso.

Ou seja, o código não é executado até que seja necessário. Esse é um padrão diferente das funções que criamos até agora, em que todo o código era executado assim que fosse solicitado (eager evaluation).

Quando temos problemas de memória, é comum utilizarmos os geradores. Quando a memória não é um problema, optamos pelo *eager evaluation* por apresentar, em geral, uma performance melhor.


Para saber mais temos [essa palestra do PyCon de David Beazley em inglês](https://www.youtube.com/watch?v=D1twn9kLmYg)

Podemos ir passando por cada elemento gerado, através da função **next()**, ou iterando sobre o gerador com um laço:

In [ ]:
gerador = funcao_geradora()

In [ ]:
#Iterando sobre o gerador com um laço for
for g in gerador:
    print(g)

Semelhante a compreensão de listas podemos criar geradores de uma linha

In [ ]:
quadrado_lista = [x**2 for x in range(10)]
print(quadrado_lista)

In [ ]:
# Utilizamos o `()` para iniciar o gerador
quadrado_gen = (x**2 for x in range(10))
print(quadrado_gen)

In [ ]:
#Usando o next()
print(next(quadrado_gen))

In [ ]:
print(next(quadrado_gen))

In [ ]:
#Usando o for para iterar
quadrado_gen = (x**2 for x in range(10))
for quadrado in quadrado_gen:
  print(quadrado)

E segue a mesma lógica que list comprehension

Com `if`:

`(<expressão> for <variavel> in <iteravel> if <condicao>)`

In [ ]:
par_gen = (i for i in range(11) if i % 2 == 0)

for par in par_gen:
  print(par)

In [ ]:
par_impar_gen = (f"{i} é par" if i % 2 == 0 else f"{i} é ímpar" for i in range(11))

for valor in par_impar_gen:
  print(valor)

Uma vantagem dos geradores é no uso de memória

In [ ]:
import sys

In [ ]:
quadrado_lista = [x**2 for x in range(10000)]
quadrado_gen = (x**2 for x in range(10000))

In [ ]:
sys.getsizeof(quadrado_lista) #bytes

In [ ]:
sys.getsizeof(quadrado_gen) #bytes

### Funções anônimas (lambda)

Funções anônimas, também conhecidas como funções lambda, são funções que não necessariamente precisam ser declaras, no caso de Python declaramos uma função com a palavra reservada `def`. Ou seja, não precisamos dar nomes para essas funções.

Elas são úteis quando precisamos de uma função simples, que será utilizada apenas uma vez e não precisa ser reutilizada em outro lugar do código.

**A sintaxe para a função lambda em Python é:**

`lambda <params> : <expressao>`

In [1]:
# Declarando uma função
def quadrado(x):
  return x**2

print(quadrado)
print(quadrado(2))
print(quadrado(3))
print(quadrado(4))

<function quadrado at 0x000001D887A1E790>
4
9
16

In [2]:
# Função que eleva um numero ao quadrado usando o lambda
quadrado_lambda = lambda x : x**2

print(quadrado_lambda)
print(quadrado_lambda(2))
print(quadrado_lambda(3))
print(quadrado_lambda(4))

<function <lambda> at 0x000001D887A601F0>
4
9
16

Podemos armazenar a função lambda em uma variável, como no exemplo acima, ou chamá-la diretamente:

In [3]:
#Chamando diretamente uma função lambda
print((lambda x : x**2)(2))

4

In [4]:
# Lambda com dois argumentos
soma = lambda a,b : a+b
soma(1,2)

3

Função lambda com condicionais:

In [ ]:
is_impar = lambda x : False if x % 2 == 0 else True
is_par = lambda x : True if x % 2 == 0 else False

print('2 é impar?', is_impar(2))
print('2 é par?', is_par(2))

In [5]:
is_impar = lambda x : x % 2 != 0
is_impar(2)

False

In [9]:
4 % 2 != 0

False

In [7]:
is_par = lambda x : x % 2 == 0
is_par(2)

True

Outros tipos de dados:

In [10]:
# Aceita qualquer tipo de dados!
multiplica_numeros = lambda ls : [x*idx for idx, x in enumerate(ls)]

print(multiplica_numeros([1,2,3]))

[0, 2, 6]

In [13]:
mes = [
    'Jan',
    'Fev',
    'Mar',
    'Abr',
    'Mai',
    'Jun',
    'Jul',
    'Ago',
    'Set',
    'Out',
    'Nov',
    'Dez']

In [14]:
mes_dict = {k: mes for k, mes in enumerate(mes, start=1)}

In [15]:
num_para_mes = lambda num, mes_dict: mes_dict[num]

In [16]:
print(num_para_mes(9, mes_dict))

Set

In [12]:
mes_dict

{1: 'Jan',
 2: 'Fev',
 3: 'Mar',
 4: 'Abr',
 5: 'Mai',
 6: 'Jun',
 7: 'Jul',
 8: 'Ago',
 9: 'Set',
 10: 'Out',
 11: 'Nov',
 12: 'Dez'}

In [17]:
funcao = lambda : print('teste')
funcao()

teste

Funções como argumentos:

In [18]:
# Podemos passar funções como argumentos
def soma_numeros(a,b):
  return a+b

soma_e_multiplica = lambda a,b,fator : soma_numeros(a,b) * fator

print(soma_e_multiplica(1, 2, 3))

9

Encadeamento de funções:

In [19]:
# A principal vantagem é encadear as funções

soma = lambda a, b: a+b
subtracao = lambda a,b: a-b
multiplica = lambda a,b: a*b

a = 10
b = 20
c = 10
d = 2

resultado = soma(a,b)
print(resultado)
resultado = subtracao(resultado,c)
print(resultado)
resultado = multiplica(resultado,d)
print(resultado)

30
20
40

O código acima pode ser pensado como:

`h(g(f(x)))`

Ou:

`multiplica( subtracao ( soma (a, b ), c ), d )`

`multiplica ( subtracao (resultado_soma, c ), d ) `

`multiplica ( resultado_subtracao, d )`

In [20]:
resultado = multiplica(subtracao(soma(a,b),c),d)
resultado

40

### Filter

A função "filter" desempenha o papel de filtrar elementos de iteráveis que atendam a critérios específicos. Esses critérios são definidos por uma função que deve retornar "True" ou "False" com base em cada argumento de entrada.

Com a função "filter", podemos facilmente selecionar os elementos que nos interessam, eliminando aqueles que não se enquadram nos requisitos estabelecidos pela função fornecida. Essa abordagem funcional é poderosa e flexível, permitindo uma manipulação mais precisa e concisa dos dados contidos nos iteráveis.


A sintaxe utilizada é:

`filter(<função>, <iteravel>)`

In [21]:
def is_par(x):
    return x % 2 == 0

In [23]:
is_par(3)

False

In [36]:
is_par = lambda x: x%2 == 0

numeros = [3, 6, 4, 8, 7, 2, 5]

list(filter(is_par,numeros))

[6, 4, 8, 2]

In [27]:
lista = []
for i in filter(is_par,numeros):
    print(i)
    lista.append(i)
lista

6
4
8
2

[6, 4, 8, 2]

In [6]:
cadastros = [
    {
     'produto': 'camisa',
     'preco': 10.29,
     'categoria': 'moda'
  },
    {
     'produto': 'saia',
     'preco': 3.29,
     'categoria': 'moda'
  },
    {
     'produto': 'feijão',
     'preco': 5.00,
     'categoria': 'alimento'
  },
    {
     'produto': 'arroz',
     'preco': 7.25,
     'categoria': 'alimento'
  },
    {
     'produto': 'vestido',
     'preco': 40.00,
     'categoria': 'moda'
  },
    {
     'produto': 'pão',
     'preco': 1.99,
     'categoria': 'alimento'
  },
]

In [30]:
is_moda = lambda dc: dc['categoria'] == 'moda'
is_alimento = lambda dc: dc['categoria'] == 'alimento'

# Filtrando produtos com a categoria moda
print('moda: ', list(filter(is_moda,cadastros)))
# Filtrando produtos com a categoria alimento
print('alimentos: ',list(filter(is_alimento,cadastros)))

moda:  [{'produto': 'camisa', 'preco': 10.29, 'categoria': 'moda'}, {'produto': 'saia', 'preco': 3.29, 'categoria': 'moda'}, {'produto': 'vestido', 'preco': 40.0, 'categoria': 'moda'}]
alimentos:  [{'produto': 'feijão', 'preco': 5.0, 'categoria': 'alimento'}, {'produto': 'arroz', 'preco': 7.25, 'categoria': 'alimento'}, {'produto': 'pão', 'preco': 1.99, 'categoria': 'alimento'}]

In [31]:
# O mesmo pode ser obtido com compreensoes de lista
print('moda',
      [prod for prod in cadastros if prod['categoria'] == 'moda']
      )

moda [{'produto': 'camisa', 'preco': 10.29, 'categoria': 'moda'}, {'produto': 'saia', 'preco': 3.29, 'categoria': 'moda'}, {'produto': 'vestido', 'preco': 40.0, 'categoria': 'moda'}]

In [33]:
print('alimento',
      [prod for prod in cadastros if prod['categoria'] == 'alimento']
      )

alimento [{'produto': 'feijão', 'preco': 5.0, 'categoria': 'alimento'}, {'produto': 'arroz', 'preco': 7.25, 'categoria': 'alimento'}, {'produto': 'pão', 'preco': 1.99, 'categoria': 'alimento'}]

### Map

Frequentemente, nos deparamos com situações em que desejamos aplicar uma operação a todos os itens de um iterável de entrada, como uma lista, um conjunto ou uma tupla, para criar um novo iterável.

A abordagem tradicional para lidar com esse tipo de problema é utilizar os loops "for" ou "while" do Python.

No entanto, existe uma maneira mais elegante de resolver esse problema sem recorrer a repetições explícitas. É possível utilizar a função "map()", que faz parte da biblioteca padrão da linguagem, dispensando a necessidade de instalar pacotes externos através do "pip" ou fazer importações adicionais. A função "map()" permite aplicar uma função fornecida a cada elemento do iterável, criando assim um novo iterável contendo os resultados dessas aplicações.

Ao aproveitar a função "map()", podemos simplificar o código, tornando-o mais legível e conciso, ao mesmo tempo que exploramos a eficiência e a praticidade da programação funcional em Python.

A sintaxe é:
`map(<funcao>, <iteravel>`)

In [34]:
def eleva_quadrado(x):
  return x ** 2

numeros = [1, 4, 5, 3, 9]

numeros_quadrado = list(map(eleva_quadrado,numeros))
print(numeros_quadrado)

# Resultado similar pode ser obtido com compreensão de listas
print([x**2 for x in numeros])

[1, 16, 25, 9, 81]
[1, 16, 25, 9, 81]

In [37]:
# Podemos combinar o filter, lambda e map!
is_par = lambda x: x%2 == 0
def eleva_quadrado(x):
  return x ** 2

numeros = [1, 4, 5, 3, 9, 2, 16]

numeros_pares_quadrado = list(map(eleva_quadrado,filter(is_par,numeros)))
print(numeros_pares_quadrado)

# Com compreensões de lista
print([x**2 for x in numeros if x % 2 == 0])

[16, 4, 256]
[16, 4, 256]

In [38]:
# pegando os preços
cadastros

[{'produto': 'camisa', 'preco': 10.29, 'categoria': 'moda'},
 {'produto': 'saia', 'preco': 3.29, 'categoria': 'moda'},
 {'produto': 'feijão', 'preco': 5.0, 'categoria': 'alimento'},
 {'produto': 'arroz', 'preco': 7.25, 'categoria': 'alimento'},
 {'produto': 'vestido', 'preco': 40.0, 'categoria': 'moda'},
 {'produto': 'pão', 'preco': 1.99, 'categoria': 'alimento'}]

In [39]:
is_moda = lambda dc: dc['categoria'] == 'moda'
pega_precos = lambda dc: dc['preco']

preco_itens_moda = list(map(pega_precos,filter(is_moda,cadastros)))

print(preco_itens_moda)

[10.29, 3.29, 40.0]

In [40]:
# Com compreensões de lista
[cadastro['preco'] for cadastro in cadastros if cadastro['categoria'] == 'moda']

[10.29, 3.29, 40.0]

Map com múltiplas listas:

In [41]:
soma = lambda a, b: a+b
# Irá funcionar como o zip!
primeira_lista = [1,2,3]
segunda_lista = [4,5,6]
list(map(soma,primeira_lista,segunda_lista))

[5, 7, 9]

In [44]:
#Map com tres iteraveis
soma = lambda a,b,c: a+b+c
# Irá funcionar como o zip!
primeira_lista = [1,2,3]
segunda_lista = [4,5,6]
terceira_lista = [7,8,9]
list(map(soma,primeira_lista,segunda_lista,terceira_lista))

[12, 15, 18]

In [42]:
# Com compreensões de lista
[a+b for a,b in zip([1,2,3], [4, 5, 6])]

[5, 7, 9]

In [47]:
# Com compreensões de lista etres iteraveis
[a+b+c for a,b,c in zip([1,2,3], [4, 5, 6],[7,8,9])]

[12, 15, 18]

### Reduce

Em Python, a função "reduce" faz parte do módulo "functools" e é utilizada para realizar uma operação cumulativa em uma sequência de elementos (como uma lista ou tupla) para reduzi-los a um único valor. É uma função bastante poderosa, especialmente quando se trata de simplificar operações complexas em coleções de dados.

A sintaxe é:
`reduce(<funcao>, <iteravel>, <valor inicial>)`

Onde:

- "funcao" é a função que define a operação a ser aplicada cumulativamente nos elementos da sequência.
- "iteravel" é o iterável contendo os elementos a serem reduzidos.
- "valor inicial" é um argumento opcional que representa o valor inicial do acumulador. Se não for fornecido, o primeiro elemento da sequência será usado como valor inicial.

Para que a função **reduce** funcione corretamente, a **funcao** fornecida deve aceitar dois argumentos e retornar o resultado da operação que será acumulada. Por exemplo, se você deseja somar todos os elementos em uma sequência, a **funcao** seria algo como 

`lambda x, y: x + y`

Aqui está um exemplo simples de como usar a função **reduce** para calcular a soma de uma lista de números:

In [3]:
# Importando o reduce
from functools import reduce

soma = lambda x,y : x + y

lista = [0, 1, 3, 5, 6]

resultado = reduce(soma,lista)

print(resultado)

15

In [4]:
import functools

functools.reduce(soma,lista)

15

No caso acima estamos realizando a operação

`(0+1) -> 1`

`(1+3) -> 4`

`(4+5) -> 9`

`(9+6) -> 15`

ou

`((((0+1)+3)+5)+6)`

In [5]:
# Modificando o valor inicial
resultado5 = reduce(soma, lista, 5) # Neste caso o valor inicial é 5
print(resultado5)

20

Em resumo, a função **reduce** é uma ferramenta útil para realizar operações cumulativas em sequências de elementos, permitindo que você aplique uma função de redução personalizada em coleções de dados para obter um resultado final. No entanto, vale lembrar que, a partir do Python 3, a função **reduce** foi movida para o módulo **functools** e não é mais uma função built-in, portanto, é necessário importá-la antes de utilizá-la.

Além do que vimos acima, o **reduce** é interessante para separar uma estrutura complexa criando uma hierarquia de dados (chaves)

In [7]:
cadastros

[{'produto': 'camisa', 'preco': 10.29, 'categoria': 'moda'},
 {'produto': 'saia', 'preco': 3.29, 'categoria': 'moda'},
 {'produto': 'feijão', 'preco': 5.0, 'categoria': 'alimento'},
 {'produto': 'arroz', 'preco': 7.25, 'categoria': 'alimento'},
 {'produto': 'vestido', 'preco': 40.0, 'categoria': 'moda'},
 {'produto': 'pão', 'preco': 1.99, 'categoria': 'alimento'}]

Por exemplo:  
Queremos ter um acesso rápido dos dados do dicionário `cadastros` por categoria

In [8]:
def separa_categorias(dicionario, cadastro):
  categoria = cadastro['categoria']
  if categoria in dicionario.keys():
    dicionario[categoria].append(cadastro)
  else:
    dicionario[categoria] = [cadastro]
  return dicionario

In [11]:
dc = {}
for cadastro in cadastros:
    separa_categorias(dc,cadastro)

In [12]:
dc

{'moda': [{'produto': 'camisa', 'preco': 10.29, 'categoria': 'moda'},
  {'produto': 'saia', 'preco': 3.29, 'categoria': 'moda'},
  {'produto': 'vestido', 'preco': 40.0, 'categoria': 'moda'}],
 'alimento': [{'produto': 'feijão', 'preco': 5.0, 'categoria': 'alimento'},
  {'produto': 'arroz', 'preco': 7.25, 'categoria': 'alimento'},
  {'produto': 'pão', 'preco': 1.99, 'categoria': 'alimento'}]}

In [9]:
cadastros_categoria = reduce(separa_categorias,cadastros,{})

In [10]:
cadastros_categoria

{'moda': [{'produto': 'camisa', 'preco': 10.29, 'categoria': 'moda'},
  {'produto': 'saia', 'preco': 3.29, 'categoria': 'moda'},
  {'produto': 'vestido', 'preco': 40.0, 'categoria': 'moda'}],
 'alimento': [{'produto': 'feijão', 'preco': 5.0, 'categoria': 'alimento'},
  {'produto': 'arroz', 'preco': 7.25, 'categoria': 'alimento'},
  {'produto': 'pão', 'preco': 1.99, 'categoria': 'alimento'}]}

In [ ]:
fruits = [
    {"name": "banana", "cor": "yellow", "price": 2},
    {"name": "cherry", "cor": "red", "price": 3},
    {"name": "strawberry", "cor": "red", "price": 4},
]

def soma(a, b):
    return {
        "name": a["name"] + ", " + b["name"],
        "cor": a["cor"] + ", " + b["cor"],
        "price": a["price"] + b["price"],
    }

result = reduce(soma, fruits)
print(result)

![a](https://miro.medium.com/max/828/1*yD7P1I36G1jTProLQwEXxA.jpeg)